.dialog-title {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #CF6CB3;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
}

.form-field-wrapper {
  padding: 10px;
  .form-field {
    width: 100%;
  }
}
textarea {
  resize: none;
}

.error-message {
  font-size: 0.8rem;
}

.dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button {
  background-color: red;
}
