.container {
  background: white;
  width: 100%;
  box-shadow: 0 0 30px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  h1 {
    font-size: 1.5em;
    margin-top: 0.8em;
    font-weight: bold;
    color: gray;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  h2 {
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 0.2;
    cursor: pointer;
    font-weight: bold;
    color: gray;

    &:hover {
      color: black;
    }
  }
}
