<div class="container">
  <div class="form-wrapper">
    <h1>{{ 'RESET_PASSWORD.TITLE' | translate }}</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'RESET_PASSWORD.NEW_PASSWORD' | translate }}</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="newPassword" placeholder="{{ 'RESET_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate }}">
        <mat-error *ngIf="form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched">
          {{ 'RESET_PASSWORD.NEW_PASSWORD_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="form.get('newPassword')?.hasError('minlength') && form.get('newPassword')?.touched">
          {{ 'RESET_PASSWORD.NEW_PASSWORD_MIN_LENGTH' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="confirmPassword" placeholder="{{ 'RESET_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}">
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('required') && form.get('confirmPassword')?.touched">
          {{ 'RESET_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="form.hasError('mustMatch') && form.get('confirmPassword')?.touched">
          {{ 'RESET_PASSWORD.PASSWORDS_MUST_MATCH' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="button">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ 'RESET_PASSWORD.RESET_PASSWORD' | translate }}</button>
      </div>

      <div class="text">
        <p>{{ 'RESET_PASSWORD.REMEMBER_PASSWORD' | translate }} <a routerLink="/authentication/login">{{ 'RESET_PASSWORD.SIGN_IN' | translate }}</a></p>
      </div>
    </form>
  </div>
</div>
